<% include ../pages/header %>
<div class="ui comments">
<h3 class="ui dividing header">Commentaires</h3>
<% for (message of messages) { %>
<div class="comment">
    <a class="avatar" href="/message/<%= message.id %>">
    <img src="https://randomuser.me/api/portraits/lego/7.jpg">
    </a>
    <div class="content">
    <div class="metadata">
        <div class="date">
            <%= message.created.fromNow() %>
        </div>
    </div>
    <div class="test">
        <%= message.content %>
    </div>
    </div>
</div>
<% } %>
</div>
<% include ../pages/footer %>