<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Matcha</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
  <link rel="stylesheet" href="/assets/semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="/assets/style.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="/assets/semantic/dist/semantic.min.js"></script>
  </style>
</head>
<body>
<div id="wrap">
  <div id="main">
<div class="ui large inverted teal one item pointing menu" style="border-radius:0;">
  <a href="/" class="header item active">Matcha</a>
</div>

<div class="ui main container">
    <% if (locals.flash && locals.flash.tabError) {
        for (id in locals.flash.tabError) { %>
      <div class="ui negative message">
          <%= locals.flash.tabError[id] %>
      </div>
      <% }
    } else if (locals.flash && locals.flash.tabSuccess) {
      for (id in locals.flash.tabSuccess) { %>
    <div class="ui positive message">
        <%= locals.flash.tabSuccess[id] %>
    </div>
    <% }
    } %>