<div class="column">
    <form action="/signin" method="post" class="ui form segment">
        <div class="field">
            <label>Pseudo</label>
            <div class="ui icon labeled input">
                <input type="text" placeholder="Pseudo" name="login" autofocus required>
                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
        <div class="field">
            <label>Mot de passe</label>
            <div class="ui labeled icon input">
                <input type="password" placeholder="Password" name="password" required>
                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
        
        <button type="submit" class="ui blue submit button">
            Se connecter
        </button>
        <a href="/forgot_pwd" class="ui blue">J'ai oublie mon mot de passe</a>
    </form>
</div>