<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Matcha</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="/assets/style.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="/assets/semantic/dist/semantic.min.js"></script>
  </style>
</head>
<body>
<div class="ui fixed inverted menu">
  <a href="/" class="header item">Accueil</a>
  <a href="/profile" class="header item">Profil</a>
  <a href="/logout" class="header item">Deconnexion</a>
</div>
<div class="ui main container">
  <% if (locals.flash && locals.flash.error) { %>
    <div class="ui negative message">
        <%= flash.error %>
    </div>
    <% } else if (locals.flash && locals.flash.success) { %>
    <div class="ui positive message">
      <%= flash.success %>
    </div>
    <% } %>