<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Matcha</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="/assets/style.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="/assets/semantic/dist/semantic.min.js"></script>
  </style>
</head>
<body>
<div class="ui fixed inverted menu">
  <a href="/" class="header item">Accueil</a>
  <a href="/profile" class="header item">Profil</a>
  <a href="/logout" class="header item">Deconnexion</a>
</div>
<div class="ui main container">
    <%  if (locals.flash && locals.flash.tabSuccess) { 
          console.log(locals.flash.tabSuccess)
          for (id in locals.flash.tabSuccess) { %>
            <div class="ui positive message">
                Success: <%= locals.flash.tabSuccess[id] %>
            </div>
        <% }
        }
        if (locals.flash && locals.flash.tabError) { 
          console.log(locals.flash.tabError)
          for (id in locals.flash.tabError) { %>
            <div class="ui negative message">
                Echec: <%= locals.flash.tabError[id] %>
            </div>
          <% }
        }%>